<!-- <div *ngFor="let item of items">

	<img [src]="item.url" [style]='"width:150px"'>
	<h4>Product Name: {{item.name}}</h4>
	<h3>Product Price: {{item.price}}</h3>

</div> -->

<h3>Cart Page </h3>
<a (click)="routeTo500()">500 error</a>
<div class="item" *ngFor="let item of items; index as productNumber">
	<span>
    {{productNumber +1}} {{ item.name }}
  </span>
	<span>
    {{ item.price | currency: 'INR' }}
  </span>
	<button (click)="removeItem(productNumber)">Remove Item</button>


</div>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
	<div>
		<label for="name">Name</label>
		<input type="text" id="name" formControlName="name">
  </div>
		<div>
			<label for="address">Address</label>
			<input type="text" id="address" formControlName="address">
  </div>
			<button class="button" type="submit">Purchase</button>
</form>


<a routerLink="/shipping">Check Shipping Charges</a>